* { margin:0; padding:0; box-sizing:border-box; }



body {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

h1{
  padding-top: 20px;
  font-family: 'Monoton', cursive;
  
}

ul {
    display: flex;
    list-style-type: none;
}


a {
  color: black;

}

p {
  font-size: 1.5em;
}

div {
  text-align: center;
}

@media screen and (max-width: 500px){
  .am {
    display: none;
  }

  div.cont {
      font-size: 1.3em;
    }
    ul {
    display: inline;
    }
    h1{
      font-size: 1.6em;
    }
    

    .ido {
    background-repeat: no-repeat;
    background-size: 250px;
    }
}

ul.h {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}


.App-header {
  font-size: 1.5em;
}

.hi{
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.ho{
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}


span.hu {
    padding: 9px;
}

p.hard {
    height: 293px;
    background-position: center;
}

.hard {
  color: gold;
  margin-top: 3px;
  margin-bottom: 39px;
  font-family: 'Monoton', cursive;
  background-image: url(../images/farmercam.png);
  background-size: 169px;
  background-repeat: no-repeat;
}

section.am {
    padding-top: 30px;
    padding-bottom: 30px;
}



.picalog {
  background-image: url(../images/Alog.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.picsampler {
  background-image: url(../images/samplerdj.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.picsvisualizer {
  background-image: url(../images/visualizer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.ido {
  background-image: url(../images/ido.png);
  background-size: contain;
  background-position: center;
  height: 190px;
  display: none;
}

.cont{ 
  font-family: 'Monoton', cursive;
  display: none;
  font-size: 3em;

}

.textl{
  font-size: 1em;
  padding: 10px;
}

.ca {
  display: none;
}


.what {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: 30px;
}

.al{
      flex: 1;
}

.vi{
       flex: 1;
}

.sam{
        flex: 1;
    }


.box1{
  border-spacing: 30px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.box1:hover {
  background-color: lightgrey;
  
}

.box2{
  border-spacing: 30px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.box2:hover {
  background-color: lightgrey;
}

.box3{
  border-spacing: 30px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.box3:hover {
 background-color: lightgrey;
}


.icons { 
  padding: 0;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.icons > li {
    width: 2.5rem;
    margin: 1.25rem 5px;
    padding: 0.625rem 0;
}

.fa {
  font-size: x-large;
}

