* { margin:0; padding:0; box-sizing:border-box; }


body {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

a{
  
  text-align: center;
  color: black;
  padding-left: 30px;
 }

a:hover {
  background-color: lightgrey;
}

ul {
    display: flex;
    list-style-type: none;
}

ul.h {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 20px;
    font-size: 1.2em;
}

ul.ca {
    padding-bottom: 100px;
}


.hi{
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.ho{
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}


.hu {
    padding: 9px;
}

.what {
    
    display: inline-flex;
    float: right;
    padding-right: 33px;

}



.start {
    font-size: 90px;
    margin: 50px;
    padding-top: 30px;
    padding-right: 365px;
    padding-left: 365px;
    position: absolute;
    font-family: 'Monoton';
    text-overflow: ellipsis;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgb(187, 212, 230), 0 0 20px rgb(245, 255, 80), 0 0 30px rgb(230, 224, 19), 0 0 40px rgba(141,200,221,1), 0 0 70px rgba(141,200,221,1), 0 0 80px rgba(141,200,221,1), 0 0 100px rgba(141,200,221,1), 0 0 150px rgba(141,200,221,1);
}

.icons { 
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.icons > li {
    margin: 1.25rem 5px;
    padding-right: 30px;
}

.fa {
  font-size: 30px;
}


@media screen and (max-width: 500px){
 
   ul {
    display: inline;
  }
   
  .h {
       display: -webkit-inline-box;
       display: -ms-inline-flexbox;
       display: inline-flex;
       padding: 20px;
       font-size: 1em;
   }
   .start {
       font-size: 30px;
       margin: 50px;
       padding-top: 30px;
       /*padding-right: 65px;*/
       padding-left: 65px;
       position: absolute;
   }

   a {
       text-align: center;
       color: black;
       padding-left: 15px;
       /* padding-right: 30px; */
   }

   .apps{
     display: none;
     padding-right: 0px;
  }

  .icons { 
    float: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
    
}

.apps{
  display: none;
}

.work{
  display: none;
  text-align: center;
  padding: 30px;
}


p.infop {
    font-size: 15px;
    padding-top: 15px;
}

.app:hover, .app2:hover, .app3:hover, .app4:hover , .app5:hover, .app6:hover, p.infop:hover {
    background-color: rgba(149, 236, 228, 0.57);
}

.app {
  background-image: url(../assets/images/nm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.app2 {
  background-image: url(../assets/images/alog.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: unset;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.app3 {
  background-image: url(../assets/images/vz.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.app4 {
  background-image: url(../assets/images/Caddy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.app5 {
  background-image: url(../assets/images/r.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.app6 {
  background-image: url(../assets/images/sdm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  margin-top: 60px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  padding: 30px;
}



h3 {
    padding-top: 180px;
}

h2 {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}


